.all-coueses-control-items{
    display: flex;
    justify-content: center;
}

.card-item{
    cursor: pointer;
    opacity: 1;
}

.card-item .card-item-link{
    font-size: 14px;
    font-weight: bold;
    color: #000;
    transition: all 0.3s;
    z-index: -1;
    
}

.card-item:hover{
    opacity: 0.8;
}

.card-item:hover .card-item-link{
    /* top: 40%; */
    z-index: 1;
}


.card-item .availblity{
    font-size: 12px;
}

.card-item  .pending-text{
    font-weight: bold;
}



.all-courses-container .icon-container{
    display: flex;
    align-items: center;
}

.all-courses-container .icon-container .icon{
    font-size: 14px;
}

.all-coueses-control-items .select-items{
    font-size: 14px;
}

.all-courses-container .all-coueses-control-items .select-items{
    width: 150px;
}
