.link-back{
    color: #fff;
}

.link-back:hover{
    color: darkgrey;
}

.course-title{
    color: #fff;
    font-size: 19px;
    font-weight: bold;
}

.course-title-status{
    color: #fff;
    font-weight: bolder;
    background-color: gray;
    padding: 5px 10px;
    border-radius: 2px;
}

.managec-container{
    padding: 10px;
}

.section-1,
.section-2
{
    width: 80%;
}

.mng-course-header{
    background-color: rgb(211, 23, 23) !important;
}

@media (min-width: 0px) and (max-width: 1500px) {
    .left-side-nav-course{
        font-size: xx-small;
    }
  
    
  }
  

